{% extends 'bank_officer/navbar.html' %}
{% load static %}
{% block content %}

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2" style="color:#014421; font-weight: 800;">Dashboard</h1>
            
                    <p class="mb-4" style="color: #343434;">Hi, welcome back!</p>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 text-primary" style="color: #F3AA2C !important; font-weight: 700;">Summary</h6>
                        </div>
                        <div class="card-body">
                            <!-- Content Row -->
                            <div class="row">
                                <!-- Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2" style="border-left-color: #F3AA2C !important;">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="color: #F3AA2C !important;">
                                                        For Review</div>
                                                    <div class="h5 mb-0 font-weight-bold" style="color: #343434 !important;">{{review}}</div>
                                                </div>
                                                <div class="col-auto"  onclick="window.location='{% url 'review' %}'">
                                                    <a class="btn btn-primary btn-circle btn-lg" style="background-color: #F3AA2C !important; border-color: #F3AA2C !important;" data-toggle="modal" data-target="#alabangIsolationModal">
                                                        <i class="fas fa-calendar"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2" style="border-left-color: #014421 !important;">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="color: #014421 !important;">
                                                        Approved Loans</div>
                                                    <div class="h5 mb-0 font-weight-bold" style="color: #343434 !important;">{{approved}}</div>
                                                </div>
                                                <div class="col-auto" onclick="window.location='{% url 'approved' %}'">
                                                    <a class="btn btn-success btn-circle btn-lg" style="background-color: #014421 !important; border-color: #014421 !important;" data-toggle="modal" data-target="#alabangHospitalModal">
                                                        <i class="fas fa-clipboard-list"></i>
                                                    </a>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card Example -->
                                <div class="col-xl-4 col-md-6 mb-4">
                                    <div class="card border-left-info shadow h-100 py-2" style="border-left-color: #7B1113 !important;">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="color: #7B1113 !important;">Rejected Loans
                                                    </div>
                                                    <div class="h5 mb-0 font-weight-bold" style="color: #343434 !important;">{{rejected}}</div>
                                                </div>
                                                <div class="col-auto" onclick="window.location='{% url 'rejected' %}'">
                                                    <a class="btn btn-info btn-circle btn-lg" style="background-color: #7B1113 !important; border-color: #7B1113 !important;" data-toggle="modal" data-target="#alabangFacilityModal">
                                                        <i class="fas fa-table"></i>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}