{% extends 'navbar/navbar.html' %}
{% load humanize %}
{% block content %} {% load static %}
{% load humanize %}
<div class="row gx-5">
    <div class="container-sm ">
      <h1 class="h3 mb-2" style="color:#00573f">Deposit Money</h1>
      <div class="container overflow-hidden"style="font-family:Verdana">
        <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row gx-5">
            <div class="col">
              <label for="payment_method">Payment Method:</label>
              <select id="payment_method" name="payment_method" class="form-control">
                <option value="gcash">Gcash</option>
                <option value="paypal">PayPal</option>
                <option value="credit">Credit</option>
              </select>
            </div>
          </div>
          <br>
          <div class="row gx-5">
            <div class="col">
              <label for="reference_number">Account Name:</label>
              <input type="text" id="account_name" name="account_name" class="form-control" required>
            </div>
            <div class="col">
              <label for="amount_paid">Amount Paid:</label>
              {{ form.deposit }}
            </div>
            <div class="col">
              <label for="account_name">Reference Number:</label>
              <input type="number" id="reference_number" name="reference_number" class="form-control" required>
            </div>
          </div>
          <br>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="confirm_details" required>
            <label class="form-check-label" for="confirm_details">Confirm that the details are finalized</label>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Deposit</button>
        </form>
      </div>
    </div>
    
</div>

{% endblock %}