{% extends 'bank_officer/navbar.html' %}
{% block content %}
<h2>Deposit Applications</h2>
<table>
    <thead>
        <tr>
            <th>Deposit ID</th>
            <th>User Name</th>
            <th>Reference No.</th>
            <th>Amount</th>
            <th>Approve/Reject</th>
        </tr>
    </thead>
    <tbody>
        {% for deposit in deposits %}
            <tr>
                <td>{{ deposit.id }}</td>
                <td>{{ deposit.user.username }}</td>
                <td>{{ deposit.reference_number }}</td>
                <td>₱ {{ deposit.amount }}</td>
                <td>
                    <form action="{% url 'approve_deposit' deposit.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Approve</button>
                    </form>
                    <form action="{% url 'reject_deposit' deposit.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
